@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=DM+Serif+Display:ital@0;1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');





.App {
  text-align: center;
  background-color:white;
}
.App .navbar{position: absolute; top: 0; left: 0; right: 0; margin: 0 auto;
 padding: 20px; z-index: 5;
}
.navbar .container{
  padding: 5px;
  /* background-color: rgb(235, 122, 122); */
  border-radius: 10px;
  border: 5px solid rgb(80, 9, 9);
  font-size: 20PX;
  color: white;
  backdrop-filter: blur(15px);
}
.me-auto a{ color: rgb(235, 122, 122); font-weight: bold;}
.logintext a{color: black;}
.slider{position: relative; }
.slider h4{ font-family: "Lato", sans-serif, serif; color: white; -webkit-text-stroke: 1px black;}
.sliderText{position: absolute; z-index: 1; font-family: "Alfa Slab One", serif; font-size: 7vw; margin-top: 20vw;  text-align: left; line-height: 50%;
}
.sliderText p:nth-of-type(2){color: gold;}
.sliderText p:nth-of-type(3)
{
  color:rgb(235, 122, 122);
   text-shadow:
   6px 3px  rgb(80, 9, 9), 
    1px 0px  rgb(80, 9, 9);
  }

/* .main{
  height: 3000px;
} */



/* section1 */
.title h4,h2{font-family: "Alfa Slab One", serif;}
.title p{font-family: "Lato", sans-serif, serif;
  width: 40%;
  margin: 5% auto;
}
.section1{
  margin: 0 auto;
  background-image: url(../public/img/bg_garlic.jpg) ;
  background-repeat: no-repeat; 
  background-position: top right, bottom left;
  padding: 100px 0;

}
.section1 h4{font-family: "Alfa Slab One", serif;}  
.section1 p{font-family: "Lato", sans-serif, serif;}

span{color: gold; }

.box{margin-bottom: 10%;}
.thumb{height: auto; overflow: hidden;}
.box .img-wrap:hover img{transform: scale(1.2, 1.2); transition-duration: 0.5s;}
.box img {transition-duration: 0.3s;}
.box .img-wrap:hover{background-color: rgb(235, 122, 122);}
.textbox{height: 150px; padding: 20px ;}


/* section2 */
.section2{
  margin: 0 auto;
}
.middlebanner{
  height: 450px;
  width: 100%;
  background-image: url(../public/img/middlebanner.webp);
  margin-bottom: 50px;
}
.bannertext{
  font-size: 25px;
  margin: 0 auto;
  padding-top: 8%;
  width: 40%;
  text-align: center;
  color: white;
  font-family: "Libre Baskerville", serif;
}
.section2 button{
  background-color: gold;
  padding: 1%;
}
.section2 button:hover{
 color: gold;
 background: transparent;
 border: 1px solid gold;
}
.section2title{
  font-family: "Alfa Slab One", serif; font-size: 50px;
  margin-bottom: 50px;
}

.section2 .container{
  padding-bottom: 50px;
}

.swiper img{width: 100%;}
.swipertext{background-color: red; width: 100%; height: 300px;}



/* footer */
.footer{
  background-color: blue;
  padding: 100px 0;
}

.footer h3{font-family: "Libre Baskerville", serif;
margin-top: 10%;}

.Part h3 img{width: 20%; }

/* .ContactUs */
.ContactUs{display: flex;}
.ContactUs img{width: 60px; }




@media(max-width:992px) {
.footer .part{text-align: left;}
}
@media(max-width:1050px) {
.slider{}  
}
  
