@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=DM+Serif+Display:ital@0;1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

/* "Alfa Slab One", serif; */
/* "Libre Baskerville", serif; */
/* "Lato", sans-serif, serif; */

/* This menu is the meat's signature menu, and the self-developed sauce and aged meat go well together. I recommend it. */
.steakIMG h2,h4{
    font-family:"Libre Baskerville", serif;  
}
.detailwrap h1{ 
    font-family: "Alfa Slab One", serif;
}


/* ---Detail section1--- */
/* Col left */
.Detailsection1{
    padding-top: 200px;
}
.signature{
    position: absolute;
}
.steakIMG{
    position: relative;
    align-content: center;
}
.imgUrlBox img{ width:25%; margin: 1vw;   
}


/* Col right */
.ProductInfor{
    position: relative;
} 
.textbg{
    position: absolute; top: 30%; left: 50%; transform: translateX(-50%);
    width: 90%; height: 90%;
    opacity: 0.6;
    
}


.ProductText{width: 50%; margin: 0% auto;
    font-family: "Libre Baskerville", serif; 
    line-height: 30px;   
}


table,h5{margin: 0 auto; font-family:"Lato", sans-serif, serif; }
.bold{font-weight: bold;}
.Gold{font-size: 20px; color: gold; }
h5{font-weight: bold; font-size: 20px;}
.nutrient{
    text-align: left;
}

.buttonbox{
    display: flex;
    justify-content: space-evenly
}
.mycart:hover{
    color:  rgb(235, 122, 122); 
    background-color: white;
    border: 1px solid  rgb(235, 122, 122);     
    cursor: pointer;
    border-radius: 10px; 
}
.buy:hover{
    color:  rgb(235, 122, 122); 
    background-color: white;
    border: 1px solid  rgb(235, 122, 122);     
    cursor: pointer;
    border-radius: 10px; 
}

.buy, .mycart{ width: 100px;
    background-color: rgb(235, 122, 122); color: white;  border-radius: 10px;
    border-color: pink; 
}


/* ---Detail section2--- */
.Detailsection2 h5{
 font-family: "Libre Baskerville", serif;
}
.Detailsection2{
    padding-top: 100px;
}
.tabimgs{
    display: flex; 
    flex-wrap: wrap;
}
.textbox span{color: gold;}

.swiper{
    padding-top: 50px;
    margin-bottom: 50px;
}
.swiper .box .img-wrap:hover{
    background-color: transparent;
}

.Detailsection2 .nav-tabs .nav-link{
    color: #333;
}
.Detailsection2 .nav-tabs .nav-link.active{
    color:  rgb(235, 122, 122);
    font-weight: bold;
}
.Detailsection2 .swiper-pagination-bullet{
   background-color: #333;
}
.Detailsection2 .swiper-pagination-bullet-active {
    background-color: rgb(235, 122, 122);
}

/* ---Detail section3--- */
.Detailsection3 h5{
    font-family: "Libre Baskerville", serif;
   }